/** SHOW/HIDE "Search by Type"**/
$show_search_by_type: none;

/** LOGO **/
$logo: url(/img/logo.gif);
$logo_width: 120px;
$logo_height: 100px;

$mob_logo: url(/img/logo.gif);
$mob_logo_width: 120px;
$mob_logo_height: 100px;

/** BUTTON COLORS **/
$highlight_color: #004b8d;
$darkred: #00294d; // Hover

$secondary_color: #004b8d;
$darkdarkblue: #00294d; //hover

/** Background Colors **/
$header-color: rgb(225, 225, 225);

$filterbg-color: #EBEBEB;
$filterbg-border-color: #CCC;

$eventsbg-color: whitesmoke;
$eventsbg-border-color: #DCDCDC;

$gray: rgb(110, 110, 110);
$lightgray: #e1e1e1;

$serif: 'Georgia', serif;
$sans-serif: 'Montserrat', Helvetica, sans-serif;
